<div id="user-banner" class="cover-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= user.photo %>');">
  </div>

<div class="card-container">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-7">
      <div class="text-center profile-card">
        <h2><%= @user.name %></h2>
        <h4>Plays the <%=@user.instrument %></h4>
      </div>

      <div class="text-center profile-card">
        <% if @user.description.present? %>
          <h5><%= @user.description %></h5>
        <% else %>
          <h5><%= @user.name %> did not write any description yet.</h5>
        <% end %>
      </div>
    </div>

  <div class='col-xs-12 col-md-5'>
    <div id="requests" class="profile-card">
      <% if @user == current_user %>
        <h3 class='text-center'>Requests Status</h3>
        <div class="col-md-offset-1">
          <% if @user.jam_sessions.present? %>
            <% @user.jam_sessions.each do |jam_session| %>
              <% if jam_session.status.downcase == "pending" %>
                <h5><%= cl_image_tag jam_session.band.photo, class:"band-avatar", alt:"Band Avatar" %> Request to <%= jam_session.band.name %> is pending...</h5>
              <% end %>
            <% end %>
            <% @user.jam_sessions.each do |jam_session| %>
              <% if jam_session.status.downcase == "accepted" %>
                <p>Accepted: <%= jam_session.band.name %>!</p>
              <% end %>
            <% end %>
          <% else %>
              <h4>No requests yet...</h4>
          <% end %>
          <% end %>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
