<div class="navbar-wagon">
  <!-- Logo -->
  <div class="logo">
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
    <% end %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
        <!-- Profile picture with dropdown list -->
        <div class="navbar-wagon-item">
          <div class="dropdown">
            <% if current_user.photo.present? %>
              <%= cl_image_tag current_user.photo, class:"avatar dropdown-toggle", alt:"Avatar", id:"navbar-wagon-menu", data: { toggle: 'dropdown' } %>
            <% else %>
            <%= image_tag "no_pic.png", class:"avatar dropdown-toggle", alt:"Avatar", id:"navbar-wagon-menu", data: { toggle: 'dropdown' } %>
            <% end %>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li><%= link_to 'Profile', user_path(current_user) %>  </li>
              <li><%= link_to destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" do  %>
              <%= t(".sign_out", default: "Log out") %></li>
              <% end %>
            </ul>
          </div>
        </div>
  </div>
    <% else %>
      <!-- When logged out -->
      <%= link_to t(".sign_in", default: "Sign up"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t(".sign_in", default: "Log in"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>
</div>
