<h1 class="text-center sign-up">Create a band</h1>

<div class="container sign-up-container">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "name" },
                  placeholder: "Full name"%>
      <%= f.input :email,
                  required: true,
                  input_html: { autocomplete: "email" },
                  placeholder: "Email address" %>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" },
                  placeholder: "create a password" %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :instrument,
                  required: true,
                  input_html: { autocomplete: "instrument"},
                  placeholder: "type one or more instrument names" %>
      <%= f.input :description,
                  required: true,
                  input_html: { autocomplete: "descriptions"},
                  placeholder: "describe yourself" %>
      <%= f.input :photo,
                  required: true %>
      <%= f.input :photo_cache, as: :hidden %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "submit-btn" %>
    </div>
  <% end %>
</div>
