<div class="main-container">
  <div class="row">
    <h1 class="text-center">Bands</h1>
    <div class="col-xs-12">
        <% @bands.each do |band| %>
        <%= link_to band_path(band) do  %>
        <div class="col-xs-12 col-md-3">
          <div class="card-full">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path band.photo if band.photo.present? %>');">
            </div>
            <div class="card-body">
              <h4><%= band.name %></h4>
              <p><strong><%= band.genre %></strong></p>
              <p><%= band.address %></p>
              <p>Looking for <%= band.instrument %> player</p>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


