<div class="main-container">
  <h1 class="text-center">Looking for Bands?</h1>

  <center>
      <form method="get" action="/bands" role="search">
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <div class="input-group">
              <input type="text" class="form-control" name="query" placeholder="Genre, instruments, location...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
              </span>
            </div>
          </div>
        </div>
      </form>
      <h3 class="text-center"><%= link_to "Or add your band!", new_band_path, class:"btnb btn-primary band-btn" %></h3>
    <center>
  </div>


  <div class="row">
      <div class="container">
        <% @bands.each do |band| %>
          <%= link_to band_path(band) do %>
            <div class="col-xs-12 col-md-4 card-container">
              <div class="card background-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path band.photo if band.photo.present? %>');">
                <div class="content-overlay overlay-left">
                  <div class="text-container">
                    <p class="text-name"><%= band.name %></p>
                    <p class="text-instrument"><strong><%= band.instrument %></strong> player wanted</p>
                    <p class="text-address"><%= band.address %></p>
                  </div>
                </div>
                <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
