<div class="cover-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @band.photo if @band.photo.present? %>');">
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="text-center profile-card">
        <h1><%= @band.name %></h1>
        <h4>Band</h4>
        <h4><%= @band.genre %></h4>
        <p><%= @band.address %></p>
      </div>
      <% if current_user.present? && current_user.id == @band.user_id %>
        <ul>
          <% @band.jam_sessions.each do |session| %>
            <% if session.status.downcase == 'pending' %>
              <li>
                <%= cl_image_tag current_user.photo, class:"avatar", alt:"Avatar" %>
                <%= link_to session.user.name, user_path(session.user) %> wants to join your band.
                <%= link_to '+ Accept', jam_session_path(session), method:'patch', class:'btn btn-success' %>
                <%= link_to 'x Decline', jam_session_path(session), data: { confirm: 'Are you sure?' }, method:'delete', class:'btn btn-danger' %>
              </li>
            <% end %>
            <% if session.status.downcase == 'accepted' %>
              <li>
                <%= cl_image_tag current_user.photo, class:"avatar", alt:"Avatar" %>
                <%= link_to session.user.name, user_path(session.user) %> in your band!.
              </li>
            <% end %>
          <% end  %>
        </ul>
      <% else %>
        <% if @jam_session.id %>
            <div class="container">
              <%= @jam_session.status %>
            </div>
        <% else %>
          <div class="text-center">
            <div class="container">
              <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
                <h2>Want to Connect?</h2>
                <%= simple_form_for [@band, @jam_session] do |f| %>
                  <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
                  <%= f.submit "Connect", class:"connect-btn" %>
                <% end %>
                <button id="send-request" class="btn btn-primary">Click me!</button>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <div class="text-center profile-card">
        <% if @band.description.present? %>
          <p>ANNOUCEMENT : <%= @band.description %></p>
        <% else %>
          <p>No Description.</p>
        <% end %>
      </div>
      <div class="text-center">
        <% case %>
          <% when @band.address == "Shibuya" %>
            <%= image_tag "Shibuya.jpg" %>
          <% when @band.address == "Shinjuku" %>
            <%= image_tag "Shinjuku.jpg" %>
          <% when @band.address == "Meguro" %>
            <%= image_tag "Meguro.jpg" %>
          <% when @band.address == "Ikebukuro" %>
            <%= image_tag "Ikebukuro.jpg" %>
          <% else %>
            <%= image_tag "Shin_Okubo.jpg" %>
        <% end %>
        <p>Usually meet up in <%= @band.address %> area</p>
      </div>
    </div>
  </div>
</div>
