<div class="cover-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @band.photo if @band.photo.present? %>');">
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="text-center profile-card">
        <h1><%= @band.name %></h1>
        <h4>Band</h4>
        <h4><%= @band.genre %></h4>
        <p><%= @band.address %></p>
      </div>
      <div class="text-center">
        <%= link_to @btnText, band_jam_sessions_path(@band), method:'post', class:'btn btn-primary' %>
      </div>
      <div class="text-center profile-card">
        <% if @band.description.nil? || @band.description.empty? %>
          <p>No Description.</p>
        <% else %>
          <p>ANNOUCEMENT : <%= @band.description %></p>
        <% end %>
      </div>
      <div class="text-center">
        <% case %>
          <% when @band.address == "Shibuya" %>
            <%= image_tag "Shibuya.jpg" %>
          <% when @band.address == "Shinjuku" %>
             <%= image_tag "Shinjuku.jpg" %>
          <% when @band.address == "Meguro" %>
            <%= image_tag "Meguro.jpg" %>
          <% when @band.address == "Ikebukuro" %>
            <%= image_tag "Ikebukuro.jpg" %>
          <% else %>
             <%= image_tag "Shin_Okubo.jpg" %>
        <% end %>
        <p>Usually meet up in <%= @band.address %>  area</p>
      </div>
    </div>
  </div>
</div>
