<div class="cover-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @band.photo if @band.photo.present? %>');">
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-7">
      <div id="band-info" class="text-center profile-card">
        <h1><%= @band.name %></h1>
        <p>(Usually meet up in <%= @band.address %> area)</p>
        <p><strong>Genre: <%= @band.genre %></strong></p>
      </div>
      <div class="text-center profile-card">
        <% if @band.description.present? %>
        <h4>Band Info & Announcements</h4>
        <p style="white-space: pre-line;"><%= @band.description %></p>
        <% else %>
          <p>No Description.</p>
        <% end %>
      </div>
      <div class="request-card">
      <% if current_user.present? && current_user.id == @band.user_id %>
        <ul class="list-inline">
          <% @band.jam_sessions.each do |session| %>
            <% if session.status.downcase == 'pending' %>
              <li>
                <%= cl_image_tag current_user.photo, class:"avatar", alt:"Avatar" %>
                <%= link_to session.user.name, user_path(session.user) %> wants to join your band.
                <%= link_to '+ Accept', jam_session_path(session), method:'patch', class:'btn btn-success' %>
                <%= link_to 'x Decline', jam_session_path(session), data: { confirm: 'Are you sure?' }, method:'delete', class:'btn btn-danger' %>
              </li>
            <% end %>
            <% if session.status.downcase == 'accepted' %>
              <li class="request-content">
                <%= cl_image_tag current_user.photo, class: "avatar", alt:"Avatar" %>
                <%= link_to session.user.name, user_path(session.user), class: "user_name" %> in your band!.
              </li>
            <% end %>
          <% end  %>
        </ul>
      <% else %>
        <% if @jam_session.id %>
            <div class="container">
              <%= @jam_session.status %>
            </div>
        <% else %>
          <div class="text-center">
              <div class="form-wrapper text-center" id="connect_area" style="width: 400px; margin: 0 auto;">
                  <h2>Want to Connect?</h2>
                  <%= render 'jam_sessions/connect_form', band: @band, jam_session: @jam_session %>
              </div>
          </div>
        <% end %>
      <% end %>
    </div>

    </div>
    <div class="col-xs-12 col-md-5">
      <div class="text-center">
        <% case %>
          <% when @band.address == "Shibuya" %>
            <%= image_tag "Shibuya.jpg", class: "map" %>
          <% when @band.address == "Shinjuku" %>
            <%= image_tag "Shinjuku.jpg", class: "map" %>
          <% when @band.address == "Meguro" %>
            <%= image_tag "Meguro.jpg", class: "map" %>
          <% when @band.address == "Ikebukuro" %>
            <%= image_tag "Ikebukuro.jpg", class: "map" %>
          <% else %>
            <%= image_tag "Shin_Okubo.jpg", class: "map" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
